---
// @ts-nocheck
import '../styles/vars.css';
import '../styles/pokemoncard.css';
import '../styles/global.css';
const url = "https://api.tcgdex.net/v2/en/cards?pagination:itemsPerPage=1000";
const response = await fetch(url);
const cards = await response.json();
---


<!-- OLD pokemon project -->

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Who's that pokemon?</h1>
		<a href="/contact"><p>contact</p></a>
		<a href="/about"><p>about</p></a>
		<a href="/team/we">team</a>
		<section class="pokemon-container">
			<h2 id="pokemon-name"></h2>
			<figure class="pokemon-card">
				<img id="pokemon-img" class="blur" src="">
			</figure>
			<label>
				<input class="text-input" type="text">
			</label>
			<button class="guess-button">Guess</button>
		</section>

		<!-- local storage workshop -->
		<div class="points">
			<h2>Total points</h2>
			<h3 id="counter">0</h3>
			<button id="add">+1</button>
		</div>

		<script define:vars={{ cards }}>
			// @ts-nocheck
			// counter
			const savedData = JSON.parse(localStorage.getItem("count"))

			let value = savedData.counter;
			const counter = document.querySelector('#counter');
			const button = document.querySelector('#add');

			button.addEventListener('click', () => {
				value = value + 1;
				counter.textContent = value;
				const data = {
					counter: value,
				};
				console.log(data)

				// counter opslaan
				localStorage.setItem("count", JSON.stringify(data));
			});

			// Pokemon card code
			// filter cards
			const filteredCards = cards.filter(card => {
			if (card.name === 'Unown') {
				return false
			}
			if (!('image' in card) || !card.image) {
				return false
			}
				return true
			})

			// add extension and quality settings to each image
			function getImgUrl(card, quality = "high", extension = "webp") {
				return `${card.image}/${quality}.${extension}`
			}

			// get a random card
			// hulp van: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random
			// https://www.w3schools.com/js/js_random.asp
			let currentCard = getRandomCard();

			function getRandomCard() {
				const number = Math.floor(Math.random() * filteredCards.length);
				const getCard = filteredCards[`${number}`];
				const imgUrl = getImgUrl(getCard);

				const imgElement = document.querySelector('#pokemon-img');
				imgElement.src = imgUrl;
				imgElement.alt = getCard.name;

				const nameElement = document.querySelector('#pokemon-name');
				nameElement.textContent = getCard.name;
			}

			// guessing the pokemon
			const text = document.querySelector('.text-input');
			const submitAnwser = document.querySelector('.guess-button')

			submitAnwser.addEventListener('click', () => {
				if(text.value === currentCard.name) {
					text.classList.add('input-color');
					currentCard = getRandomCard();
				}
				else {
					text.classList.remove('input-color');
				}
			});

		</script>
	</body>
</html>